<header class="bg-dark sticky-top">
    <nav class="navbar navbar-expand container navbar-dark">
        <span class="navbar-brand">
            Concession Chez Ana andCo.
        </span>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href=" {{ path('home') }} " class="nav-link">Accueil</a>
            </li>

            {% if app.user %}
                <li class="nav-item">
                    <a href=" {{ path('index_user') }} " class="nav-link">Gestion des utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a href=" {{ path('index_vehicules') }} " class="nav-link">Gestion des véhicules</a>
                </li>
                <li class="nav-item">
                    <a href=" {{ path('app_logout') }} " class="nav-link">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href=" {{ path('app_login') }} " class="nav-link">Connexion</a>
                </li>
            {% endif %}

            <li class="nav-item">
                <a href=" {{ path('legal') }} " class="nav-link">Mentions légales</a>
            </li>

        </ul>

    </nav>
</header>